@charset "UTF-8";
body{font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
html, body  {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#map {
	position:fixed;
	width: 100%;
	height: 100%;
}

